NET "oput<0>"  LOC = P1 | IOSTANDARD = LVTTL|PULLDOWN;
NET "oput<1>"  LOC = P2 | IOSTANDARD = LVTTL|PULLDOWN;
NET "oput<2>"  LOC = P5 | IOSTANDARD = LVTTL|PULLDOWN;

NET "iput<0>"  LOC = P133 | IOSTANDARD = LVTTL|;
NET "iput<1>"  LOC = P134 | IOSTANDARD = LVTTL|;
